body {
  background-color:#333;
  font-size: 100%;
}

.btn {
  cursor: pointer;
}

h1,
.greetings {
  color: #fff;
}
.greetings {
  font-size: 1.5em;
}
h1 {
  font-size: 3em;
}

.form, 
.greetings {
  display: none;
}

.showing {
  display: block;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn .5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* custom */
.box-wrap {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

form {
  padding-bottom: 10px;
}

input {
  font-size: 1em;
  padding: 10px;
  border: none;
}

.js-weather {
  color: #fff;
}

body::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.35);
  content: "";
  z-index: 0;
}

.js-toDoList {
  list-style-type: circle;
  color: #eee;
  background: rgba(180,180,180,0.35);
}

.js-toDoList li {
  padding: 0.5em;
}

.js-toDoList li button {
  float: right;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  padding-top: 2px;
}

.js-toDoList li button:hover {
  opacity: 1;
}

.js-weather {
  position: fixed;
  right: 1em;
  top: 1em;
  font-weight: 600;
}
